html {
  background-color: #FCCE86;
}
input[type = text] {
  height: 30%;
  width: 100%;
  font-size: 1em;
  display: block;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
}

input[type = text]:hover {
  opacity: 0.85;
}

p {
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 0.8em;
}

.input {
  display: grid;
  width: 500px;
  grid-template-columns: 75% 25%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.todoList {
  display: grid;
  grid-template-rows: 100px 100px;
}

.header {
  color: white;
  font-family: avenir;
  text-align: center;
  font-size: 0.75em;
}

.addTodo {
  height: 35%;
  width: 50%;
  font-family: avenir;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 15%;
  color: white;
  border: none;
  background-color: #D16060;
  border-radius: 5px;
}

.addTodo:hover {
  opacity: 0.75;
}

.todoGrid {
  display: grid;
  width: 90%;
  grid-auto-rows: 50px 50px 50px 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.dBtn {
  display: inline-block;
  color: red;
  background-color: white;
  border: none;
  font-size: 0.90em;
  margin-right: 3%;
  margin-top: 2%;
  float: right;
  border-radius: 5px;
}

.cBtn {
  display: inline-block;
  color: green;
  background-color: white;
  border: none;
  font-size: 0.85em;
  margin-right: 3%;
  margin-top: 2%;
  float: right;
  border-radius: 5px;
}

.itemCompleted {
  color: red;
}
.listText {
  color: white;
  display: inline-block;
  font-weight: lighter;
  text-align: left;
}

.itemTextCompleted {
  background-color: #bdffae !important;
  border: 2px solid green;
  margin-top: -1%;
  color: red !important;
}

.listItems {
  color: black;
  font-family: avenir;
  list-style: none;
  font-size: 1.5em;
  margin-top: 1%;
  text-transform: capitalize;
  background-color: #000080;
  border-radius: 5px;
}
